html,
body {
  font-family: "Volkhov", serif;
  background: #0e0e0c;
  color: #f0f1f3;
  min-height: 100vh;
  margin-bottom: 100px;
}

/* Headlines */
h1 {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2rem;
}

h2 {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5rem;
}

/* Text styling */
.textbold {
  font-weight: 900;
}
.uppercase {
  text-transform: uppercase;
}

/* Header design */
.header {
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #0e0e0c;
}

header img {
  max-width: 50px;
}

.search {
  border-radius: 20px;
  padding: 8px;
  width: 100px;
  height: 30px;
}

.hidden-text {
  display: none;
}

/* Hamburger menu */
nav,
#menu-checkbox {
  display: none;
  align-self: right;
  width: 100%;
}

#menu-checkbox:checked ~ nav {
  display: block;
}

nav {
  background-color: #0e0e0c;
  position: absolute;
  bottom: 0px;
  margin-bottom: 100px;
}

nav a:hover {
  opacity: 0.6;
}

nav a {
  display: block;
  text-decoration: solid;
  text-align: center;
  color: #f0f1f3;
  padding: 0.7em;
  font-size: 1.2rem;
}

.global-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}

/* INDEX PAGE */
.indexmoon {
  display: block;
  justify-content: center;
  max-width: 100%;
}
.teacher {
  display: block;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}
.teacher img {
  width: 100%;
  border-radius: 30px;
}
.teacher p {
  background: linear-gradient(180deg, #571a0d, #0e0e0c);
  padding: 10px;
  border-radius: 10px;
  margin-top: 0;
  margin-bottom: 0;
}
.guidedtour {
  display: block;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}
.guidedtour img {
  width: 100%;
  border-radius: 30px;
}
.guidedtour p {
  background: linear-gradient(180deg, #571a0d, #0e0e0c);
  padding: 10px;
  border-radius: 10px;
  margin-top: 0;
  margin-bottom: 0;
}
.researchers {
  display: block;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}
.researchers img {
  width: 100%;
  border-radius: 30px;
}

.researchers p {
  background: linear-gradient(180deg, #571a0d, #0e0e0c);
  padding: 10px;
  border-radius: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.spacesuite {
  display: block;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}
.spacesuite img {
  width: 100%;
  border-radius: 30px;
}
.spacesuite p {
  background: linear-gradient(180deg, #571a0d, #0e0e0c);
  padding: 10px;
  border-radius: 10px;
  margin-top: 0;
  margin-bottom: 0;
}
.indextext {
  display: block;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
  width: 100%;
  background: linear-gradient(30deg, #141e2d, #0e0e0c, #214a2a);
  border-radius: 20px;
}

.readingkid {
  display: block;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}
.readingkid img {
  width: 100%;
  border-radius: 30px;
}
.readingkid p {
  background: linear-gradient(180deg, #571a0d, #0e0e0c);
  padding: 10px;
  border-radius: 10px;
  margin-top: 0;
  margin-bottom: 0;
}
/* Images */
.pictures {
  display: block;
  max-width: 100%;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}

/* Exhibitions GRIDS */
.exhibitions-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.dinobox {
  display: block;
  justify-content: center;
  text-align: center;
  padding: 0;
  max-width: 280px;
  border-radius: 30px;
  background: linear-gradient(0.3turn, #141e2d, #0e0e0c, #141e2d);
}

.spacebox {
  display: block;
  justify-content: center;
  text-align: center;
  padding: 0;
  max-width: 280px;
  border-radius: 30px;
  background: linear-gradient(0.3turn, #0e0e0c, #571a0d, #0e0e0c);
}

/* News GRIDS */
.news-container {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(550px, 1fr));
  grid-template-columns: auto;
  justify-content: center;
  align-content: center;
  gap: 20px;
}

.one {
  align-items: center;
  height: auto;
}
.one img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.two {
  background-color: #571a0d;
  border-radius: 20px;
  max-width: 550px;
}
.two h3 {
  font-size: 2rem;
  text-align: center;
}
.twoblue {
  background-color: #141e2d;
  border-radius: 20px;
  max-width: 550px;
}
.twoblue h3 {
  font-size: 2rem;
}

.twoyellow {
  background-color: #d9a726;
  color: #0e0e0c;
  border-radius: 20px;
  max-width: 550px;
}

.twoyellow h3 {
  font-size: 2rem;
}
.ingress {
  text-transform: uppercase;
  font-weight: lighter;
}

/* News flex */
.newsflex-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #0e0e0c;
}

.newsbox {
  display: block;
  justify-content: center;
  text-align: center;
  padding: 0;
  max-width: 250px;
  border-radius: 20px;
  background-color: #f0f1f3;
}

/* VISIT-PAGE */
.visit-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  color: #0e0e0c;
}
.visitmap {
  display: block;
  justify-self: center;
  align-self: center;
  border-radius: 20px;
}
.visitmap > img {
  max-width: 100%;
  border-radius: 20px;
}
.visitadress {
  display: block;
  justify-self: center;
  align-self: center;
  text-align: center;
  text-transform: uppercase;
  font-size: large;
  color: #f0f1f3;
}
.openinghours {
  display: block;
  justify-self: center;
  align-self: center;
  text-transform: uppercase;
  font-size: large;
  background-color: #d9a726;
  border-radius: 20px;
  width: 100%;
  text-align: center;
}
.museum {
  display: block;

  align-items: center;
}

.museum img {
  max-width: 100%;
  border-radius: 20px;
}
.entrance {
  display: block;
  justify-self: center;
  align-self: center;
  text-align: center;
  font-size: large;
  background-color: #141e2d;
  color: #f0f1f3;
  border-radius: 20px;
  width: 100%;
}
.accessibility {
  display: block;
  justify-self: center;
  align-self: center;
  text-align: center;
  font-size: large;
  background-color: #571a0d;
  color: #f0f1f3;
  border-radius: 20px;
  width: 100%;
}
.café {
  display: block;
  justify-self: center;
  align-self: center;
  text-align: center;
  font-size: large;
  background-color: #f0f1f3;
  color: #0e0e0c;
  border-radius: 20px;
  width: 100%;
}
.shop {
  display: block;
  justify-self: center;
  align-self: center;
  text-align: center;
  font-size: large;
  background-color: #d9a726;
  color: #0e0e0c;
  border-radius: 20px;
  width: 100%;
}

/* Footer design */
footer {
  display: none;
}

.footer-content {
  font-size: 1.5em;
}
/* Link / symbols */
a {
  color: #0e0e0c;
  font-size: 2em;
}
.museumoutside {
  max-height: 80px;
}

/* Desktop*/
@media (min-width: 40em) {
  body {
    margin-bottom: 0px;
  }
  main {
    margin-left: 130px;
    margin-right: 130px;
    margin-bottom: 50px;
  }
  h1 {
    font-size: 4.3rem;
  }

  h2 {
    font-size: 2rem;
  }

  .header {
    top: 0;
    position: sticky;
    height: 100px;
  }

  nav {
    display: flex;
    position: static;
    justify-content: center;
    text-align: center;
    margin-bottom: 0px;
  }

  .hamburger-icon {
    display: none;
  }

  nav a {
    display: inline-block;
  }

  .current {
    text-decoration: underline;
  }

  .logo {
    display: block;
  }

  .search {
    border-radius: 20px;
    padding: 8px;
    width: 200px;
    margin: 20px;
  }

  .global-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
  }

  /* INDEX PAGE */
  .indexpicture {
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 20px;
  }

  .indexpicture {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 1 / 4;
  }
  .indexpicture > img {
    max-width: 100%;
  }

  .indexh2 {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    justify-self: center;
    align-self: end;
    backdrop-filter: blur(5px);
    border-radius: 20px;
  }

  .indexmoon {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 1 / 4;
  }
  .indexmoon > img {
    max-width: 100%;
  }

  .teacher {
    display: grid;
    grid-row: 3 / 4;
    grid-column: 1 / 2;
  }
  .teacher > img {
    max-height: 100%;
  }

  .guidedtour {
    display: grid;
    grid-row: 3 / 4;
    grid-column: 2 / 3;
  }
  .guidedtour > img {
    max-width: 100%;
  }

  .researchers {
    display: grid;
    grid-row: 3 / 4;
    grid-column: 3 / 4;
  }
  .researchers > img {
    max-height: 100%;
  }
  .spacesuite {
    display: grid;
    grid-row: 5 / 6;
    grid-column: 1 / 2;
  }
  .spacesuite > img {
    max-width: 100%;
    height: auto;
  }

  .indextext {
    display: grid;
    grid-row: 5 / 6;
    grid-column: 2 / 3;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-weight: bold;
    padding: 0;
    text: center;
  }

  .readingkid {
    display: grid;
    grid-row: 5 / 6;
    grid-column: 3 / 4;
  }
  .readingkid > img {
    max-width: 100%;
  }

  /* EXHIBITION PAGE */

  /* NEWS PAGE */
  .one {
    max-width: 550px;
  }

  .one img {
    width: 100%;
    border-radius: 20px;
  }

  .two {
    max-width: 550px;
    align-self: stretch;
  }

  .twoblue {
    max-width: 550px;
    align-self: stretch;
  }

  .twoyellow {
    max-width: 550px;
    align-self: stretch;
  }

  /* Opening Hours GRID*/
  .visit-container {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    align-content: center;
    gap: 20px;
    background-color: #0e0e0c;
  }
  .visitmap {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 4;
  }
  .visitmap > img {
    max-width: 500px;
  }
  .visitadress {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 4;
    align-self: start;
    font-size: x-large;
    z-index: 2;
    background-color: #0e0e0c;
    border-radius: 20px;
  }
  .openinghours {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 4 / 6;
    font-size: x-large;
    max-width: 500px;
  }
  .museum {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 2 / 6;
    align-items: center;
  }

  .museum img {
    max-width: 100%;
    border-radius: 20px;
  }
  .entrance {
    display: grid;
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    height: 100%;
  }

  .accessibility {
    display: grid;
    grid-row: 3/ 4;
    grid-column: 3 / 4;
    height: 100%;
    font-size: x-large;
    background-color: #571a0d;
    color: #f0f1f3;
    border-radius: 20px;
  }
  .café {
    display: grid;
    grid-row: 3 / 4;
    grid-column: 4 / 5;
    font-size: x-large;
    background-color: #f0f1f3;
    color: #0e0e0c;
    border-radius: 20px;
    height: 100%;
  }
  .shop {
    display: grid;
    grid-row: 3 / 4;
    grid-column: 5 / 6;
    font-size: x-large;
    background-color: #d9a726;
    color: #0e0e0c;
    border-radius: 20px;
    height: 100%;
  }
  /* Footer Desktop */
  footer {
    display: block;
    margin-top: auto;
    position: sticky;
    background-color: #f0f1f3;
    color: #0e0e0c;
    height: 120px;
    text-transform: uppercase;
  }

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}
